.toDo {
    width: 500px;
    margin: 0 0 10px;
    padding: 0;
}

.toDo-item {
    width: auto;
    background: #fafafa;
    border: 1px solid #ddd;
    color: #333;
    display: block;
    margin: 0 0 1px;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 7px;
}

.toDo-item:hover {
    text-decoration: underline;
}