body, .input, .button {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 10px 10px 10px 10px;
}

.toDo {
    width: 500px;
    margin: 0 0 10px;
    padding: 0;
}

.toDo-item {
    width: auto;
    background: #fafafa;
    border: 1px solid #ddd;
    color: #333;
    display: block;
    margin: 0 0 1px;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 7px;
}

.toDo-item:hover {
    text-decoration: underline;
}

.label {
    display: block;
    margin: 10px 0px 10px;
}

.input {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    margin: 0 0 10px;
    padding: 10px 15px;
    width: 500px;
}

.button {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    display: inline-block;
    margin: 0 0 10px;
    padding: 10px 15px;
    text-decoration: none;
}

.button:hover {
    background: #bfbdbd;
}
